<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Avaliação Semestral</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Avaliação semestral</span>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a class="nav-link" href="/professores">Cadastro de Professores</a></li>
                    <li class="nav-item"><a class="nav-link" href="/disciplinas">Cadastro de Disciplinas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/alunos">Cadastro de Alunos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cursos">Cadastro de Cursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ocorrencias">Cadastro de Ocorrências</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- CONTEÚDO -->
    <div class="container mt-5">
        <h1 class="display-4">Avaliação semestral</h1>
        <hr>

        <p class="lead"><strong>Aluno:</strong> {{ aluno }}</p>
        <p class="lead"><strong>Prontuário:</strong> {{ prontuario }}</p>

        <hr>

        <p>A data e hora local é {{ data_hora }}.</p>
    </div>

</body>
</html>
