{% extends "base.html" %}

{% block conteudo %}
<h2>Cadastro de Professores</h2>

<!-- MENSAGEM DE SUCESSO -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form method="POST">
    <div class="form-group">
        <label>Nome do Professor:</label>
        <input type="text" class="form-control" name="nome" required>
    </div>

    <div class="form-group">
        <label>Disciplina:</label>
        <select name="disciplina" class="form-control" required>
            {% for d in disciplinas_opcoes %}
                <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary mt-2">Cadastrar</button>
</form>

<hr>

<h3>Relação de Professores Cadastrados</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Professor</th>
            <th>Disciplina</th>
        </tr>
    </thead>

    <tbody>
        {% for p in lista %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>{{ p.disciplina }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
